<nav>
	<ul>
		<!-- contents -->
		<li>
			<ul id="contents-nav-list">
				<li>contents</li>

				<li>
					<span class="dropdown-list"></span>
					<img src="images/right-arrow.png"></img>
					<img src="images/down-arrow.png" style="display: none"></img>
					<a href="index.html">home</a>
					<ul class="hidden-list">
						<hr/>
						<li><a href="#course-description">Course Description</a></li>
					</ul>
				</li>

				<li>
					<span class="dropdown-list"></span>
					<img src="images/right-arrow.png"></img>
					<img src="images/down-arrow.png" style="display: none"></img>
					<a href="courseinfo.html">about the course</a>
					<ul class="hidden-list">
						<hr/>
						<li><a href="#place-time">place & time</a></li>
						<li><a href="#format">format</a></li>
						<li><a href="#curriculum-overview">course curriculum overview</a></li>
						<li><a href="#course-policies">course policies</a></li>
						<li><a>...</a></li>
					</ul>
				</li>

				<li><a>...</a></li>
			</ul>
		</li>
		
		<!-- lectures -->
		<li>
			<ul>
				<li>lectures</li>

				<li>
					<span class="dropdown-list"></span>
					<img src="images/right-arrow.png"></img>
					<img src="images/down-arrow.png" style="display: none"></img>
					<a href="lesson01.html">01 | tools & standards</a>
					<ul class="hidden-list">
						<hr/>
						<li><a href="#agenda">agenda</a></li>
						<li><a href="#introductions">introductions</a></li>
						<li><a href="#overview">overview</a></li>
						<li><a href="#sharefile">sharefile</a></li>
						<li><a href="#web-space">web-space</a></li>
						<li><a href="#ftp">ftp</a></li>
						<li><a href="#web-development">web-development</a></li>
						<li><a>...</a></li>
					</ul>
				</li>

				<li><a>02 | ...</a></li>

				<li><a href="exercises.html">exercises</a></li>
			</ul>
		</li>

		<!-- contact -->
		<li>
			<ul>
				<li>contact</li>
				<li><a>jeff parker</a></li>
			</ul>
		</li>

		<!-- associated -->
		<li>
			<ul>
				<li>associated</li>
				<li><a>my.bcit</a></li>
			</ul>
		</li>

	</ul>

</nav>